<app-color-ratio-strip></app-color-ratio-strip>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/assets/svgs/buhl-logo.svg" alt="">
    </div>
    <div class="footer-section">
      <a href="#">{{ "FOOTER.AGB" | translate }}</a>
      <a href="#">{{ "FOOTER.IMPRINT" | translate }}</a>
      <a href="#">{{ "FOOTER.DATA_PROTECTION" | translate }}</a>
      <a href="#">{{ "FOOTER.REVOCATION" | translate }}</a>
      <a href="#">{{ "FOOTER.COOKIES" | translate }}</a>
    </div>
  </div>
</footer>