@use "colors" as *;
@use "fonts" as *;
@use "globals" as *;

.icon-button-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  &.medium {
    height: 36px;
    border-radius: 18px;
    gap: 8px;
  }

  &.large {
    height: 44px;
    width: 200px;
    border-radius: 22px;

    @include respond-to("tablet") {
      height: 48px;
      width: 240px;
      border-radius: 24px;
    }

    @include respond-to("desktop") {
      height: 48px;
      width: 280px;
      border-radius: 24px;
    }
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .text-wrapper {
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
  }

  &.medium .text-wrapper {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.7px;
    line-height: 19px;
    justify-content: flex-start;
    padding-right: 16px;
  }

  &.large .text-wrapper {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.12px;
    height: 21px;
    justify-content: center;
    @include respond-to("tablet") {
      font-size: 16px;
    }
  }

  &.medium .icon-wrapper {
    width: auto;
    height: 24px;
    justify-content: center;
    padding-left: 12px;
  }

  &.large .icon-wrapper {
    width: 80px;
    height: 48px;
    justify-content: center;
  }
  &.no-icon {
    grid-template-columns: 1fr;

    .text-wrapper {
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
