<header class="header">
  <div class="header-container">
    <div class="header-container-left">
      @if ((breakpointService.isMatching$("desktop") | async) === false) {
        <app-icon-text [icon]="iconMenu">{{
          "HEADER.MENU" | translate
        }}</app-icon-text>
      }
      <a routerLink="/" class="logo-link">
        <img src="assets/svgs/buhl-logo-1.svg" alt="" />
      </a>
      @if (breakpointService.isMatching$("desktop") | async) {
        <div class="dropdowns">
          <app-dropdown-menu
            >{{ "HEADER.ALL_PRODUCTS" | translate }}
          </app-dropdown-menu>
          <app-dropdown-menu
            >{{ "HEADER.PRODUCTS_FINDER" | translate }}
          </app-dropdown-menu>
          <app-dropdown-menu
            >{{ "HEADER.RECOMMENDATIONS" | translate }}
          </app-dropdown-menu>
          <app-dropdown-menu
            >{{ "HEADER.TEST_VERSIONS" | translate }}
          </app-dropdown-menu>
        </div>
      }
    </div>
    <div class="header-container-right">
      <div class="icon-text-container">
        @if (
          breakpointService.isMatchingAny$(["tablet", "desktop", "desktopXl"])
            | async
        ) {
          <app-icon-text [icon]="iconSearch">{{
            "HEADER.SEARCH" | translate
          }}</app-icon-text>
          <app-icon-text [icon]="iconApps">{{
            "HEADER.APPS" | translate
          }}</app-icon-text>
          <a
            class="base-link"
            routerLink="/customer-center"
            (click)="onLinkClick('/customer-center')"
            tabindex="0"
            role="button"
          >
            <app-icon-text [icon]="iconPerson">{{
              "HEADER.CUSTOMER_CENTER" | translate
            }}</app-icon-text>
          </a>
        }
        <div class="shopping-cart-wrapper">
          <a routerLink="/shopping-cart" class="shopping-cart-link">
            <app-icon-text [icon]="iconShoppingCart">{{
              "HEADER.SHOPPING_CART" | translate
            }}</app-icon-text>
            @if (shoppingCartService.totalQuantity() > 0) {
              <span class="cart-badge">{{
                shoppingCartService.totalQuantity()
              }}</span>
            }
          </a>
        </div>
        @if (authService.isAuthenticated()) {
          @if (breakpointService.isMatching$("mobileOnly") | async) {
            <app-icon-text [icon]="iconLogin" (click)="openLogoutDialog()">{{
              "HEADER.LOGOUT" | translate
            }}</app-icon-text>
          } @else {
            <app-icon-button
              [icon]="iconButtonLogin"
              bgColor="primary"
              size="medium"
              (click)="openLogoutDialog()"
              >{{ "HEADER.LOGOUT" | translate }}</app-icon-button
            >
          }
        } @else {
          @if (breakpointService.isMatching$("mobileOnly") | async) {
            <app-icon-text [icon]="iconLogin" (click)="openLoginDialog()">{{
              "HEADER.LOGIN" | translate
            }}</app-icon-text>
          } @else {
            <app-icon-button
              [icon]="iconButtonLogin"
              bgColor="primary"
              size="medium"
              (click)="openLoginDialog()"
              >{{ "HEADER.LOGIN" | translate }}</app-icon-button
            >
          }
        }
      </div>
    </div>
  </div>
</header>
<app-color-ratio-strip></app-color-ratio-strip>

<!-- Login Dialog -->
@if (dialogService.showLoginDialog()) {
  <app-login-dialog
    [message]="dialogService.loginMessage()"
    (dialogClose)="closeLoginDialog()"
    (loginSuccess)="onLoginSuccess()"
  >
  </app-login-dialog>
}

<!-- Logout Dialog -->
@if (dialogService.showLogoutDialog()) {
  <app-logout-dialog
    (dialogClose)="closeLogoutDialog()"
    (logoutSuccess)="onLogoutSuccess()"
  >
  </app-logout-dialog>
}
