<header class="header">
  <div class="container">
    <h1 class="logo">{{ "HEADER.MENU" | translate }}</h1>
    <nav class="nav">
      <a href="#" class="button">{{ "HEADER.SEARCH" | translate }}</a>
      <a href="#" class="button">{{ "HEADER.APPS" | translate }}</a>
      <a href="#" class="button">{{ "HEADER.CUSTOMER_CENTER" | translate }}</a>
      <a href="#" class="button">{{ "HEADER.SHOPPING_CART" | translate }}</a>
      <a href="#" class="button">{{ "HEADER.LOGIN" | translate }}</a>
    </nav>
  </div>
</header>
<app-color-ratio-strip></app-color-ratio-strip>
