<div class="prev-card" [ngClass]="type()">
  <div class="prev-img-container">
    <img
      [src]="currentImageSrc"
      [srcset]="currentImageSrcset"
      alt="Prev Image"
      class="prev-image"
    />
  </div>
  <div class="prev-content">
    <div class="slogan roboto-bold">
      {{ sloganId() | translate }}
    </div>
    <div class="title roboto-bold">
      {{ titleId() | translate }}
    </div>
    <div class="description roboto-regular">
      {{ descriptionId() | translate }}
    </div>
    <app-icon-button
      bgColor="secondary"
      size="large"
      (click)="onTestButtonClick()"
      class="prev-button"
    >
      {{ "HERO_SECTION.BUTTON_TEXT" | translate }}
    </app-icon-button>
  </div>
</div>
