@use "../../../../styles/colors" as *;
@use "../../../../styles.scss" as *;

.hero-section {
    background-color: $color-light-gray;
    height: 400px;
    @include respond-to("tablet") {
        height: 425px;
    }

    @include respond-to("desktop") {
        height: 474px;
    }
}

.hero-section-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include base-container;
    
    @include respond-to("tablet") {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
}

.hero-section-content {
    height: 200px;
    font-size: 24px;
    line-height: 36px;
    color: $color-primary-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-bottom: 10px;
    }
    
    div {
        margin-bottom: 10px;
        text-align: center;
    }


    @include respond-to("tablet") {
        padding-top: 45px;
        font-size: 40px;
        line-height: 48px;
        height: 425px;
        width: 350px;
        flex-shrink: 0;
        z-index: 2;
        justify-content: flex-start;
        align-items: flex-start; 
        img {
            margin-bottom: 30px;
        }

        div {
            margin-bottom: 40px;
            text-align: left;
        }
    }

    @include respond-to("desktop") {
        padding-top: 45px;
        font-size: 40px;
        line-height: 48px;
        height: 474px;
        width: 500px;
        flex-shrink: 0;
        z-index: 2;
        align-items: flex-start; // desktop上左对齐
        justify-content: flex-start; // desktop上顶部对齐
        img {
            margin-bottom: 30px;
        }

        div {
            margin-bottom: 40px;
            text-align: left;
        }
    }
}

.hero-section-image {
    height: 152px;
    width: 236px;
    
    .hero-image {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
    }

    picture {
        width: 100%;
        height: auto;
        display: block;
    }

    @include respond-to("tablet") {
        height: 425px;
        width: 531px;
        flex-shrink: 0;
        margin-left: -181px;
    }

    @include respond-to("desktop") {
        height: 474px;
        width: 514px;
    }
}