@use "../../../../styles/colors" as *;
@use "../../../../styles.scss" as *;

.hero-section {
  background-color: $color-light-gray;
  height: 400px;
  @include respond-to("tablet") {
    height: 425px;
  }

  @include respond-to("desktop") {
    height: 474px;
  }
}

.hero-section-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 28px;
  @include base-container;

  @include respond-to("tablet") {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
  }

  @include respond-to("desktop") {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.hero-section-content {
  height: 200px;
  font-size: 24px;
  line-height: 36px;
  color: $color-primary-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 16px;
  }

  div {
    width: 280px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 32px;
  }

  @include respond-to("tablet") {
    padding-top: 65px;
    height: 425px;
    width: 350px;
    flex-shrink: 0;
    z-index: 2;
    justify-content: flex-start;
    align-items: flex-start;
    img {
      margin-bottom: 36px;
    }

    div {
      font-size: 32px;
      line-height: 38px;
      width: 360px;
      height: 119px;
      margin-bottom: 40px;
      text-align: left;
    }
  }

  @include respond-to("desktop") {
    padding-top: 0px;
    font-size: 40px;
    line-height: 48px;
    height: 288px;
    width: 606px;
    flex-shrink: 0;
    z-index: 2;
    align-items: flex-start; // Left align on desktop
    justify-content: flex-start; // Top align on desktop
    img {
      margin-bottom: 30px;
    }

    div {
      width: 90%;
      margin-bottom: 56px;
      text-align: left;
      font-size: 46px;
      line-height: 60px;
    }
  }
}

.hero-section-image {
  height: 152px;
  width: 236px;

  .hero-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }

  @include respond-to("tablet") {
    height: 425px;
    width: 531px;
    flex-shrink: 0;
    margin-left: -181px;
  }

  @include respond-to("desktop") {
    height: 474px;
    width: 514px;
  }
}
