@use "../../../styles/fonts" as *;
@use "../../../styles/colors" as *;
@use "../../../styles" as *;

.product-list-container {
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  @include base-container;
}

.loading,
.empty-state {
  text-align: center;
  padding: 48px;
  color: #7f8c8d;
  font-size: 18px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-auto-flow: row;

  @include respond-to("tablet") {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @include respond-to("desktop") {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  @include respond-to("desktop-xl") {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
