<div class="product-list-container">
  @if (products.length > 0) {
    <div class="responsive-grid">
      @for (product of products; track trackByProductId($index, product)) {
        <app-product-card [product]="product"> </app-product-card>
      }
    </div>
  }

  @if (isLoading) {
    <div class="loading">
      <p>{{ "COMMON.LOADING" | translate }}</p>
    </div>
  }

  @if (!isLoading && products.length === 0) {
    <div class="empty-state">
      <p>{{ "PRODUCT.NO_PRODUCTS_AVAILABLE" | translate }}</p>
    </div>
  }
</div>
