<app-hero-section
  [imagePaths]="imagePaths"
  sloganId="HERO_SECTION.MY_OFFICE.HEADLINE"
  productName="My Office"
></app-hero-section>
<div class="banner-container">
  @if (breakpointService.isMatching$("mobileOnly") | async) {
    <div class="banner roboto-regular">
      {{ "BANNER.MY_OFFICE.TEXT_1" | translate }}
      <br />
      {{ "BANNER.MY_OFFICE.TEXT_2" | translate }}
    </div>
  } @else {
    <div class="banner roboto-bold">
      {{ "BANNER.MY_OFFICE.TEXT" | translate }}
    </div>
  }
</div>
<div class="feature-cards">
  <div class="feature-card-container">
    <app-feature-card
      [icon]="iconAccounting"
      titleId="FEATURE_CARD.ACCOUNTING.TITLE"
    >
      {{ "FEATURE_CARD.ACCOUNTING.DESCRIPTION" | translate }}
    </app-feature-card>
    <app-feature-card [icon]="iconUpgrade" titleId="FEATURE_CARD.UPGRADE.TITLE">
      {{ "FEATURE_CARD.UPGRADE.DESCRIPTION" | translate }}
    </app-feature-card>
    <app-feature-card
      [icon]="iconMarketing"
      titleId="FEATURE_CARD.MARKETING.TITLE"
    >
      {{ "FEATURE_CARD.MARKETING.DESCRIPTION" | translate }}
    </app-feature-card>
  </div>
</div>
<div class="prev-cards">
  @if (breakpointService.isMatching$("mobileOnly") | async) {
    <div class="h-bar"></div>
  }
  <div class="prev-card-container">
    <app-prev-card
      [imagePaths]="prevCardImagePaths"
      type="primary"
      sloganId="PREV_CARD.DEFAULT_SLOGAN"
      titleId="PREV_CARD.DEFAULT_TITLE"
      descriptionId="PREV_CARD.DEFAULT_DESCRIPTION"
      productName="My Office"
    ></app-prev-card>
  </div>
  @if (breakpointService.isMatching$("mobileOnly") | async) {
    <div class="h-bar"></div>
  }
  <div class="prev-card-container">
    <app-prev-card
      [imagePaths]="prevCardImagePaths"
      type="secondary"
      sloganId="PREV_CARD.DEFAULT_SLOGAN"
      titleId="PREV_CARD.DEFAULT_TITLE"
      descriptionId="PREV_CARD.DEFAULT_DESCRIPTION"
      productName="My Office"
    ></app-prev-card>
  </div>
</div>
